config PAGE_MIGRATION_PROFILE
	bool "Page migration profile"
	def_bool n
	help
	  Profile migrate hugepages with multiple optimizations to get higher throughput.

config NIMBLE_PAGE_MANAGEMENT
	bool "Nimble page management option. It selects required kernel modules."
	def_bool y
	select ARCH_ENABLE_THP_MIGRATION
	select TRANSPARENT_HUGEPAGE
	select MEMCG
	select MEMCG_SWAP
	select DYNAMIC_DEBUG
